@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid lightgoldenrodyellow;*/
}

:root{
    --grey: #2c2c2c;
    --orange: #ff6309;
    --white: white;
    --oswaldFont: "Oswald", sans-serif;
    --montserrat: "Montserrat", sans-serif;
}

nav{
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 5%;
}

.logo{
    height: 55px;
}

.search{
    height: 25px;
}

h1{
    font-family: var(--montserrat);
    font-weight: 420;
    font-size: 110px;
}

h2{
    font-size: 55px;
}

h3{
    font-size: 34px;
}

.section1{
    background-image: url(images/background.png);
    padding: 23% 5%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -90px;
    height: 30vh;
    width: 100%;
    color: var(--white);
}

.section1 p{
    font-family: var(--montserrat);
    font-size: 24px;
    width: 620px;
}

.section1 button{
    background-color: var(--orange);
    font-family: var(--oswaldFont);
    border: none;
    color: var(--white);
    margin-top: 20px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 400;
    width: 270px;
    padding: 6px 0;
}

.danceTour{
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    padding: 80px 5% 60px 5%;
}

.danceTour h2{
    font-family: var(--oswaldFont);
}

.danceTourP{
    font-family: var(--montserrat);
    font-size: 25px;
    padding: 13px;
    width: auto;
}

.content-danceTour{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    gap: 45px;
}

.items-danceTour{
    background-color: var(--grey);
    width: 360px;
}

.items-danceTour img{
    width: 360px;
}

.items-danceTour p{
    font-family: var(--montserrat);
    padding: 12px 0 30px;
    font-size: 20px;
}

.items-danceTour h3{
    font-family: var(--oswaldFont);
    padding-top: 18px;
    font-weight: 400;
}

.items-pricing{
    background-color: var(--orange);
    width: 360px;
    padding: 65px 0 30px 0;
    border-radius: 8px;
}

.items-pricing button{
    background-color: var(--grey);
    font-family: var(--oswaldFont);
    color: var(--white);
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 23px;
    padding: 14px;
}

.items-pricing h3{
    font-family: var(--oswaldFont);
    padding-top: 35px;
    font-weight: 400;
}

.items-pricing p{
    font-family: var(--montserrat);
    font-size: 20px;
    padding: 20px 0 21px;
}

footer{
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    font-family: var(--montserrat);
    height: auto;
    padding: 11px;
}

@media screen and (max-width: 1300px){
    .section1{
        padding: 24% 5%;
        background-position: center -90px;
    }

    h1{
        font-size: 100px;
    }

    p{
        font-size: 3px;
    }

    .content-danceTour{
        justify-content: center;
    }

    footer p{
        font-size: 15px;
    }
}

@media (min-width: 921px) and (max-width: 1279px){
    h1{
        font-size: 67px;
    }

    .section1{
        padding: 12% 5%;
        height: 20vh;
    }
}

@media (min-width: 769px) and (max-width: 920px){
    h1{
        font-size: 62px;
    }

    .section1{
        padding: 8% 5%;
        height: 17vh;
    }

    .section1 P{
        width: 600px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    h1{
        font-size: 50px;
    }

    .section1{
        background-position: center -30px;
        padding: 5% 5%;
        height: 13vh;
    }

    .section1 P{
        width: 400px;
        font-size: 18px;
    }

    .section1 button{
        width: 180px;
        font-size: 20px;
        margin-top: 10px;
    }
}

@media (min-width: 352px) and (max-width: 488px) {
    nav{
        height: 42px;
    }

    .logo{
        height: 32px;
    }

    .search{
        height: 17px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 22px;
    }

    .section1{
        background-position: center -16px;
        padding: 5% 5%;
        height: 9vh;
    }

    .section1 P{
        width: 300px;
        font-size: 14px;
    }

    .section1 button{
        width: 160px;
        padding: 5px;
        font-size: 14px;
        margin-top: 10px;
    }

    .danceTourP{
        font-size: 14px;
    }

    .items-danceTour{
        width: 260px;
    }

    .items-danceTour img{
        width: 260px;
    }

    .items-danceTour p{
        font-size: 14px;
    }

    .items-pricing{
        padding: 55px 0 25px 0;
        width: 260px;
    }

    .items-pricing button{
        width: 215px;
    }
}